{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}


{% block content %}
<html>
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<img src="/static/surfsend_logo_sizeM.jpg" width="420" height="110" align="middle">
<div class="container" align="center">
{% for message in get_flashed_messages() %}
<div style="width: 35%" class="alert alert-success">{{ message }}</div>
{% endfor %}
  <form class="form-signin" method="POST" action="/register">
    <h2 class="form-signin-heading">Sign Up</h2>
    <div style="width: 35%">{{ wtf.form_field(form.username, placeholder='username') }}</div>
    <div style="width: 35%">{{ wtf.form_field(form.email, placeholder='email address') }}</div>
    <div style="width: 35%">{{ wtf.form_field(form.password, placeholder='password') }}</div>
    <div style="width: 35%">{{ wtf.form_field(form.confirm, placeholder='confirm password') }}</div>
	{{ form.csrf_token }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 35%">Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}