{% extends "template.html" %}
{% block content %}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</br>
</br>
<div align="middle">
<img src="/static/surfsend_logo_sizeM_transparent.png" width="420" height="110" align="middle">
</br>
</div>

</br>
</br>

<!-- About SurfSend Paragraph -->
<div>
<style>
body2 {
    font-size: 15px;
}
</style>
<body2>
<h2 align="middle">About SurfSend</h2>
</br>
<ul style="list-style-type:disc;">
  <li><p>SurfSend is a web app that provides New England surfers with accurate data regarding current surf conditions & forecasts for the week ahead.</p></li>
  <li><p>Registered users can opt to receive notifications via SMS or Email when our system determines that the conditions will make for a quality day of surfing, all factors considered.</p></li>
  <li><p>SurfSend data is sourced by automated data-mining scripts that pull from reliable resources on the web pertaining to information such as government buoy height/intervals, wind speed/direction, air temp & more.</p></li>
  <li><p>For all questions/feedback, please email <a href="mailto:surfsendcontact@gmail.com">surfsendcontact@gmail.com</a>. For development & API inquiries, please email <a href="mailto:surfsendtechg@gmail.com">surfsendtech@gmail.com</a>.</p></li>
</ul>


</body2>
</div>

</br>
</br>
<div align="center">
<img align="center" src="/static/surfsend3.png">
</br>
</div>


<div align="middle">
<style>
body1 {
    font-size: 20px;
}
</style>
<body1>
</br>
<p><a href="/Team"</a>Meet The Team  <i class="glyphicon glyphicon-user"></i> </a></p>
<p><a href="/home"</a>Previous &#8592;</a></p>

</body1>
</div>

{% endblock %}


