{% extends "template.html" %}
{% block content %}

	<h1>Please Fill Out Below</h1>

	<form method="POST" action="/soundcloudx">
		<table class="table table-striped table-bordered table-hover table condensed">
			<tr><td>First Name<td><input type="text" name="FirstName" /></td></tr>
			<tr><td>Email<td><input type="text" name="Email" /></td></tr>
			<tr><td>MessageType<td>
				<input type="radio" name="options" id="Motivational"> Motivational <br>
				<input type="radio" name="options" id="Funny"> Funny <br>
				<input type="radio" name="options" id="Snapple Fact"> Snapple Fact <br>
			</td></tr>
		</table>
	<input type="submit" value="Save" />
	</form>
	{% endblock %}


